@model PointOfSale.Models.ViewModels.InvoiceVM
@{
    ViewData["Title"] = "Invoice Edit";
}

<div class="border my-3 p-3">

    <h2>Edit Invoice </h2>


       <table class="table table-striped">
            <tr>
                <th>Product</th>
                <th>Qty</th>
                <th>Unit Price</th>
                <th>Total</th>
            </tr>

            @foreach (var item in Model.InvoiceDetails)
            {

                <tr>
                    <td>@item.Product.Name</td>
                <td>@item.Count</td>
                <td>@item.Price.ToString("n")</td>
                    <td>@((item.Price* @item.Count).ToString("n"))</td>
                   
                </tr>

            }
            <tr>
                <td></td>
                <td></td>
                <td>Total</td>
            <td>@Model.InvoiceHeader.Total.ToString("n")</td>
            <td></td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td>Paid</td>
            <td>@Model.InvoiceHeader.PaidAmount.ToString("n")</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>Due</td>
            <td>@Model.InvoiceHeader.UnpaidAmount.ToString("n")</td>
                <td></td>
            </tr>

        </table>

       


      

        <form method="post" asp-action="EditPost">
    <div class="row">
            <input hidden asp-for="InvoiceHeader.Id"/>
        <div class="col-lg-4">
            <label asp-for="InvoiceHeader.UpdateDue"></label>
            <input class="form-control" asp-for="InvoiceHeader.UpdateDue" />
            <span class="required-warning" asp-validation-for="InvoiceHeader.UpdateDue"></span>
        </div>
        <div class="col-8"></div>
            <div class="my-1 col-lg-4">
            <label asp-for="InvoiceHeader.CreatedAt"></label>
                <input class="form-control" type="date"  asp-for="InvoiceHeader.CreatedAt" />
            <span class="required-warning" asp-validation-for="InvoiceHeader.CreatedAt"></span>
        </div>
            @if(Model.InvoiceHeader.CustomerId != null)
            {
                <div class="my-1 col-lg-4">
                    <label asp-for="InvoiceHeader.Name"></label>
                    <input class="form-control" disabled asp-for="InvoiceHeader.Name" />
                    <span class="required-warning" asp-validation-for="InvoiceHeader.Name"></span>
                </div>
            }
            else
            {
                <div class="my-1 col-lg-4">
                    <label asp-for="InvoiceHeader.Name"></label>
                    <input class="form-control" asp-for="InvoiceHeader.Name" />
                    <span class="required-warning" asp-validation-for="InvoiceHeader.Name"></span>
                </div>
            }
           
            <div class="my-1 col-lg-4">
                <label asp-for="InvoiceHeader.PhoneNumbar"></label>
                <input class="form-control" asp-for="InvoiceHeader.PhoneNumbar" />
                <span class="required-warning" asp-validation-for="InvoiceHeader.PhoneNumbar"></span>
            </div>
            <div class="my-1 col-lg-12">
                <label asp-for="InvoiceHeader.Address"></label>
                <input class="form-control" asp-for="InvoiceHeader.Address" />
                <span class="required-warning" asp-validation-for="InvoiceHeader.Address"></span>
            </div>
        </div>
      

            <div class="my-4 col-lg-2">
                <button class="btn btn-primary" type="submit">Save</button>
            </div>
        
        </form>
</div>